.InputProductos {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.InputProductos input {
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 2px;
}
.InputProductos input:focus {
    outline: none;
}