nav {
    height: 100px;
    width: 100%;
    background-color: yellow;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav img {
    height: 100%;
    padding: 20px;
}
nav ul {
    position: relative;
    z-index: 10;
    display: flex;
}
nav ul li {
    list-style: none;
    margin-right: 20px;
}
nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 1.3em;
}
nav ul li:hover {
    transform: scale(1.05) translateY(-5px);
}
nav ul li:hover a {
    color: rgb(3, 138, 138);
}
.cart {
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 2em;
    cursor: pointer;
}